* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.label-scanner-header {
  color: black;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.label-scanner-container {
  text-align: center;
  background-color: #eff1f3;
  height: 100vh;
}

.progress-label {
  margin-bottom: 5px;
}
.progress-bar {
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  max-width: 50vw;
}
.progress {
  background-color: rgb(0, 255, 170);
  width: 0%;
  height: 10px;
}
.label-scanner-webcam-wrapper {
  border-radius: 10px;
  position: relative;
}
.webcam {
  width: 100%;
  /* height: 100%; */
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
video {
  border-radius: 10px;
}
.label-scanner-scan-button {
  background: #223843;
  padding: 10px 40px;
  color: white;
  border: none;
  margin-top: 50px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  opacity: 0.7;
  transform: translateX(-50%);
}
.checkbox-container {
  margin-top: 20px;
  font-size: 14px;
}
.checkbox-container div {
  margin-top: 10px;
}
.checkbox-container div input {
  margin-right: 5px;
}
.packages-data-container {
  margin: 0 auto;
}
.package-card {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.package-card img {
  max-width: 100%;
}
